stages:
  - build
  - test
  - publish

include:
  - project: 'Northern.tech/Mender/mendertesting'
    file:
      - '.gitlab-ci-github-status-updates.yml'
      - '.gitlab-ci-check-golang-lint.yml'
      - '.gitlab-ci-check-golang-unittests.yml'
      - '.gitlab-ci-check-license.yml'
  - component: gitlab.com/Northern.tech/Mender/mendertesting/commit-lint@master

# Release CI/CD components
  - component: gitlab.com/Northern.tech/Mender/mendertesting/release-candidate@master
    inputs:
      github_repo: mendersoftware/mender-setup
  - component: gitlab.com/Northern.tech/Mender/mendertesting/release-dist-packages@master
    inputs:
      package: MENDER_SETUP
  - component: gitlab.com/Northern.tech/Mender/mendertesting/release-compass@master
    inputs:
      compass_component_id: "58e93226-aea7-4c92-b8a9-3c322aa6b907"
  - component: gitlab.com/Northern.tech/Mender/mendertesting/release-oslicenses-golang@master
    inputs:
      remote_license_file: "302.Release-information/03.Open-source-licenses/23.mender-setup/docs.md"
  - component: gitlab.com/Northern.tech/Mender/mendertesting/release-docs-changelog@master
    inputs:
      remote_changelog_file: "23.mender-setup/docs.md"

test:unit:
  image: golang:1.24
